<header class="flex justify-between gap-4">
  <div>
    <h1 class="mb-4 font-extrabold px-4 py-2 tracking-tight text-4xl bg-purple-500/30 w-max rounded-md">
      to-do app
    </h1>
  </div>

  <div class="text-sm flex justify-center flex-col">
    <p>
      Esse é o meu primeiro <span class="text-purple-500 font-bold">projeto</span> em <span class="text-purple-500 font-bold">angular framework</span>!
    </p>
    <p>
      Estou utilizando TailwindCSS para estilizar a aplicação de forma mais rápida e bonita.
    </p>
  </div>

</header>
