<header class="w-full grid grid-cols-3 justify-center">

  <div class="col-span-2 justify-between">
    <h1 class="mb-4 font-bold tracking-tight text-6xl">
        to-do app
    </h1>
  </div>

  <div class="text-sm flex justify-center flex-col">
    <p>
      Esse é o meu primeiro <span class="text-purple-500 font-bold">projeto</span> em <span class="text-purple-500 font-bold">angular framework</span>!
    </p>
    <p>
      Estou utilizando TailwindCSS para estilizar a aplicação de forma mais rápida e bonita.
    </p>
  </div>

</header>
